In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [562]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # add new column 'profit'
data.sample(8)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1776,tt0804461,20000000,16974459,Death Sentence,Kevin Bacon|Garrett Hedlund|Kelly Preston|Jord...,James Wan,Protect what's yours.,Nick Hume is a mild-mannered executive with a ...,105,Action|Crime|Drama|Thriller,Twentieth Century Fox Film Corporation|Dune En...,8/31/2007,6.5,2007,-3025541
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004,52258126
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1666,tt0359517,12000000,31179516,Johnson Family Vacation,Cedric the Entertainer|Vanessa Williams|Steve ...,Christopher Erskin,Take the ride.,AAA can't help the roadside emergency that is ...,97,Comedy|Family,Fox Searchlight Pictures|Bird and a Bear Enter...,4/7/2004,5.3,2004,19179516
859,tt1602098,8000000,5634828,Albert Nobbs,Glenn Close|Mia Wasikowska|Aaron Taylor-Johnso...,Rodrigo GarcÃ­a,A man with a secret. A woman with a dream.,Albert Nobbs struggles to survive in late 19th...,113,Drama,Chrysalis Films,12/21/2011,6.1,2011,-2365172
1552,tt0433416,12000000,20138836,The Namesake,Kal Penn|Tabu|Irrfan Khan|Sahira Nair|Jacinda ...,Mira Nair,Two Worlds. One Journey.,"American-born Gogol, the son of Indian immigra...",122,Drama,Fox Searchlight Pictures|Mirabai Films,9/2/2006,7.0,2006,8138836
1013,tt1667353,85000000,183018522,Mirror Mirror,Julia Roberts|Lily Collins|Armie Hammer|Nathan...,Tarsem Singh,The Snow White legend comes alive.,"After she spends all her money, an evil enchan...",106,Adventure|Fantasy|Drama|Comedy|Science Fiction,Relativity Media|Misher Films|Yucaipa Films|Go...,3/15/2012,5.4,2012,98018522
1250,tt1924429,20000000,24261569,Trance,James McAvoy|Vincent Cassel|Rosario Dawson|Mat...,Danny Boyle,Don't be a hero.,"A fine art auctioneer mixed up with a gang, jo...",101,Thriller|Crime|Drama|Mystery,Cloud Eight Films|PathÃ©|Decibel Films|Film4,3/27/2013,6.4,2013,4261569

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [18]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [49]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [41]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [62]:
# можно добавлять разные варианты решения
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [59]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [61]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [60]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [63]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [50]:
round(data.runtime.mean())

110

In [51]:
answers['4']= 110

# 5. Каково медианное значение длительности фильмов?

In [29]:
data.runtime.median()

107.0

In [64]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [222]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [66]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [67]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [68]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [660]:
len(data[data.revenue > data.budget])

1478

In [661]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [662]:
data[data['revenue'] == data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,date_list,month,prodcompanies_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]","[7, 16, 2008]",7,"[DC Comics, Legendary Pictures, Warner Bros., ..."

In [663]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [664]:
data[data.profit == data[(data.release_year>= 2012) & (data.release_year<= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,date_list,month,prodcompanies_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]","[7, 3, 2013]",7,"[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [665]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [666]:
# reate new series from datafreme with value_columns
new_data = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()
new_data

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [667]:
from collections import Counter
data['genres_list']=data['genres'].apply(lambda x:x.split('|')) # добавляем новую колонку 'genres_list' со списком из значений колонки 'genres'
all_genres = [] #create an empty list
# data.loc[0,'genres_list'][0]  - смотрим элемент с индексом 0 
for genre in data['genres_list']: 
    all_genres.extend(genre)
c = Counter(all_genres) # записывает в словарь уникальное значение и подсчитывает кол-во раз, которое оно встретилось
c.most_common(3)  # возвращает список из3-ёх наиболее распространенных элементов и их количество от меньшего к большему

[('Drama', 782), ('Comedy', 683), ('Thriller', 596)]

In [668]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [669]:
''' Перезаписываем dataframe в "data_expload" для преобразования колонок. 
    В колонке 'genres_list' преобразуем каждый элемент списка в строку, реплицируя значения индекса'''
data_expload=data.explode('genres_list') 
data_expload[data_expload.profit > data_expload.profit.median()].genres_list.value_counts()

Comedy             351
Action             312
Drama              308
Adventure          260
Thriller           254
Family             173
Fantasy            153
Romance            136
Science Fiction    135
Crime              119
Animation          102
Horror              84
Mystery             73
Music               29
History             28
War                 26
Western              6
Documentary          4
Name: genres_list, dtype: int64

In [671]:
answers['12'] = 'Comedy'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [735]:
data_expload['director_list']=data_expload['director'].apply(lambda x:x.split('|')) # add new column 'director_list' 
data_expload.sample(10)
directors_expload = data_expload.explode('director_list') # create a new dataframe and transform column 'director_list'

In [673]:
directors_expload.groupby(['director_list'])['revenue'].sum().sort_values(ascending = False)

director_list
Peter Jackson        17464735681
Christopher Nolan    16196885522
David Yates          13401099613
J.J. Abrams          12805687973
Michael Bay          12370445156
                        ...
David MichÃ´d            4590846
Paul Schrader            4124132
Keanu Reeves             4109882
Don McKellar             3430018
Susanne Bier             2849142
Name: revenue, Length: 997, dtype: int64

In [674]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [675]:
directors_expload[directors_expload.genres_list == 'Action'].director_list.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Craig Mazin           1
Paul Verhoeven        1
Gary Fleder           1
Jeff Wadlow           1
Rian Johnson          1
Name: director_list, Length: 364, dtype: int64

In [676]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [736]:
data_expload['cast_list']=data_expload['cast'].apply(lambda x:x.split('|')) # add new column 'cast_list'
actors_expload = data_expload.explode('cast_list') # create a new dataframe and transform column 'cast_list'

In [679]:
actors_expload[actors_expload.release_year == 2012].groupby(['cast_list'])['revenue'].sum().sort_values(ascending = False)

cast_list
Chris Hemsworth     6060673022
Denis Leary         5765626699
Anne Hathaway       5649594458
Emma Thompson       4566996363
Mark Ruffalo        4558673730
                       ...
Michael Nyqvist        6856096
Samantha Morton        6063556
Sarah Gadon            6063556
Paul Giamatti          6063556
Juliette Binoche       6063556
Name: revenue, Length: 466, dtype: int64

In [680]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [681]:
actors_expload[actors_expload.budget > actors_expload.budget.median()].cast_list.value_counts().head(5)

Matt Damon           69
Samuel L. Jackson    66
Nicolas Cage         63
Angelina Jolie       60
Eddie Murphy         52
Name: cast_list, dtype: int64

In [682]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [683]:
actors_expload[actors_expload.cast_list == 'Nicolas Cage'].genres_list.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres_list, dtype: int64

In [684]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [685]:
data_expload['prodcompanies_list'] = data_expload['production_companies'].apply(lambda x:x.split('|')) # add column 'prodcompanies_list'
prodcompanies_expload = data_expload.explode('prodcompanies_list') # create a new dataframe and transform column 'prodcompanies_list'
paramount_films = prodcompanies_expload[prodcompanies_expload.prodcompanies_list == 'Paramount Pictures'] # create a new dataframe
paramount_films[paramount_films.profit == paramount_films.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genres_list,date_list,month,prodcompanies_list,director_list,cast_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,7/19/2002,6.0,2002,-64831034,Thriller,"[7, 19, 2002]",7,Paramount Pictures,[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,7/19/2002,6.0,2002,-64831034,Drama,"[7, 19, 2002]",7,Paramount Pictures,[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,7/19/2002,6.0,2002,-64831034,History,"[7, 19, 2002]",7,Paramount Pictures,[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."

In [686]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [712]:
prodcompanies_expload.prodcompanies_list.nunique()

1771

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [687]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [688]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [731]:
warner_bros = data[data['production_companies'].str.contains('Warner Bros')] # create new dataframe with only 'Warner Bros' in 'production_companies'
warner_bros.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [732]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [691]:
data_datetime = data # create a new dataframe for changing
data_datetime['date_list'] = data_datetime['release_date'].apply(lambda x:x.split('/')) # add new column 'date_list' with list
data_datetime['month'] = data_datetime['date_list'].apply(lambda x: x[0])   # create a new column 'mohth' with number of month
data_datetime.groupby(['month'])['original_title'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [692]:
answers['21'] = '9 (September)'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [693]:
data_datetime.month[1]
data_datetime.groupby(data_datetime.month.isin(['6','7','8']))['original_title'].count()

month
False    1439
True      450
Name: original_title, dtype: int64

In [694]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [695]:
directors_expload['date_list'] = directors_expload['release_date'].apply(lambda x:x.split('/'))  # add new column
directors_expload['month'] = directors_expload['date_list'].apply(lambda x: x[0])   # create a new column
directors_expload[directors_expload.month.isin(['1','2','12'])].groupby(['director_list'])['original_title'].count().sort_values(ascending=False)

director_list
Peter Jackson         18
Steven Soderbergh     14
Clint Eastwood        13
Rob Marshall          11
Adam Shankman         11
                      ..
Bill Condon            1
Jason Moore            1
David Gordon Green     1
Rob Bowman             1
Jack Sholder           1
Name: original_title, Length: 358, dtype: int64

In [696]:
answers['23'] = 'Peter Jackson '

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [697]:
data['prodcompanies_list'] = data['production_companies'].apply(lambda x:x.split('|'))
sumbols_count = data.explode('prodcompanies_list') # create a new dataframe witn new column
sumbols_count['name_len'] = sumbols_count.original_title.apply(lambda x: len(x)) # add new column with numbers of letters
sumbols_count.groupby('prodcompanies_list').name_len.max().sort_values(ascending=False)
#sumbols_count.head(6)

prodcompanies_list
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: name_len, Length: 1771, dtype: int64

In [698]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [699]:
sumbols_count['overview_count'] = sumbols_count['overview'].str.split(' ').apply(lambda x: len(x)) # add new column with numbers of words
sumbols_count.head(8)
sumbols_count.groupby('prodcompanies_list').overview_count.mean().sort_values(ascending=False)

prodcompanies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_count, Length: 1771, dtype: float64

In [643]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [655]:
''' Функция quantile(i), возвращает значение в заданном квантиле i по запрошенной оси (i должно быть дробным числом и обозначает %)'''
q = data.vote_average.quantile(0.99) # находим значение рейтинга в 99%
best_films_rating = data[data.vote_average > q].original_title # находим значение, которое больше значения рейтинга 99% (оставшийся 1 %)
best_films_rating

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [763]:
answers['26'] = best_films_rating[9], best_films_rating[599], best_films_rating[1191]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [443]:
from itertools import combinations
all_pairs = []
for x in range(len(data)):
    all_pairs.extend(list(combinations(data.cast[x].split('|'), 2))) # создаем список из комбинаций длиной 2 из колонки 'cast' без повторяющихся элементов
    
a = Counter(all_pairs) # записывает в словарь уникальные значения пар из all_pairs и подсчитывает кол-во раз, которое они встречались
a.most_common(3) # возвращает список из 3-ёх наиболее распространенных элементов (пар) и их количество от меньшего к большему

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [659]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

# Submission

In [764]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '13': 'Peter Jackson',
 '19': '2015',
 '15': 'Chris Hemsworth',
 '14': 'Robert Rodriguez',
 '12': 'Comedy',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '16': 'Matt Damon',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '11': 'Drama',
 '20': '2014',
 '21': '9 (September)',
 '22': '450',
 '23': 'Peter Jackson ',
 '25': 'Midnight Picture Show',
 '26': ('Inside Out', 'The Dark Knight', '12 Years a Slave'),
 '8': 1478,
 '24': 'Four By Two Productions'}

In [700]:
# и убедиться что ни чего не пропустил)
len(answers)

27